.card_container{
  width: 840;
  height: 575px;
  margin: auto;
  color: #888888;
}

.score{
  color: grey;
  margin-top: 0;
  text-shadow: 2px 2px white;
  text-align: center;
}
.card {
  display: inline-block;
  font-size: 80px;
  border: 4px solid pink;
  width: 73px;
  height: 85px;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  text-align: center;
  color: #4DAF7C;
  background-color: #4DAF7C;
  box-shadow: 10px 10px 5px #888888;
  opacity: 0.70;
}

.white {
  background-color: white;
}

.flippedCard {
  background-color: pink;
}

body {
  background-image: url("background.png")
}

/*button shit*/

.center_button{
  width: 60px;
  margin: auto;
  padding: 10px;
  background-color: pink;
  border-radius: 5px;
  text-shadow: 2px 2px grey;
  box-shadow: 10px 10px 5px #888888;
  color: white;
}

.fa-heart {
  color: pink;
  text-shadow: 3px 2px grey;
  margin: 7px;
  opacity: 0.80
}

.level_buttons {
  width: 610px;
  color:pink;
  margin: auto;
}
.level_buttons span{
  font-size: 30px;
  text-shadow: 2px 2px grey;

}
.container{
  width: 900px;
  margin: auto;
}
